html {
    font-size: 15px;
}

body {
    margin: 0;
}

div {
    width: 200px;
    height: 200px;
    background-color: #dda15e;
}

#hello {
    background-color: #dda15e;
    width: 100px;
    padding: 20px 0 0 110px;
    margin-top: 0;
}

#one {
    background-color: #ffc8dd;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-top-right-radius: 20%;
    margin-left: 70px;
}

#two {
    background-color: #ffafcc;
    border-color: #bde0fe;
    border-width: 5px;
    border-style: inset;
    border-bottom-right-radius: 20%;
    margin-top: 15px;
    margin-left: 25px;
}

#three {
    background-color: #cdb4db;
    border-left: #023047 solid 10px;
    border-radius: 10px 30px;
    margin-top: 30px;
    margin-left: 120px;

}

button {
    background-color: #a2d2ff;
    padding: 5px 40px;
    border: #780000 solid;
    border-width: 10px;
    border-radius: 10%;
    margin-left: 40px;
    margin-top: 15px;

}

h1 {
    background-color: palegoldenrod;
    border: 1px black solid;
    display: inline;
}

span {
    background-color: paleturquoise;
    border: 1px solid black;
}

#inline {
    background-color: hotpink;
    border: 1px black solid;
    padding: 0 50px 0;
    display: inline-block;
}

#colorblock {
    background-color: olivedrab;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    display: inline-block;
}

#ems {
    font-size: 20px;
}

#articletitle {
    font-size: 1.5em;
}

#articletext {
    font-size: 0.8em;
}

#rems h2 {
    font-size: 2rem;
}

#rems p {
    font-size: 1.2rem;
}

section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.6);
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
}