div {
    width: 200px;
    height: 200px;
    background-color: #dda15e;
}

h1 {
    background-color: #dda15e;
    width: 100px;
    padding: 20px 0 0 110px;
}

#one {
    background-color: #ffc8dd;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-top-right-radius: 20%;
}

#two {
    background-color: #ffafcc;
    border-color: #bde0fe;
    border-width: 5px;
    border-style: inset;
    border-bottom-right-radius: 20%;
}

#three {
    background-color: #cdb4db;
    border-left: #023047 solid 10px;
    border-radius: 10px 30px;

}

button {
    background-color: #a2d2ff;
    padding: 5px 40px;
    border: #780000 solid;
    border-width: 10px;
    border-radius: 10%;
    margin-left: 40px;

}